body,
h1,
h2,
p,
a,
ul,
li {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
}

li {
  list-style: none; 
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
* {
  box-sizing: border-box;
}